
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="cordova-outsystems-swiftplugin55" version="0.0.1"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-outsystems-swiftplugin55</name>
  <description>Swift framework compiled with SWIFT_VERSION 5.5</description>
  <author>OutSystems Inc</author>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="SwiftPluginFiveFive">
        <param name="ios-package" value="SwiftPluginFiveFive"/>
      </feature>
    </config-file>

    <header-file src="src/ios/SwiftPluginFiveFive.h"/>
    <source-file src="src/ios/SwiftPluginFiveFive.m"/>
    <framework src="lib/MyFrameworkFiveFive.framework" custom="true" embed="true"/>
  </platform>
</plugin>
